<h3>Give us a github user, and we'll give you languages!</h3>

<p>This is a fun project to determine the favourite programming languages of
a Github user. Enter a Github username below and we will try and find that out for you.</p>

<h4>CAVEATS</h4>

<p>This project was completed under tight time constraints so we have not had time to
deal with rate-limiting. So we can only support 60 requests per hour for now. That said, when someone uses this form and we grab a hacker's fave lingo, we persist it and that way we can build up a collection of hackers by language and get the data back to you faster.</p>

<p>Most popular language in our database right now: <em><%= @most_popular %></em></p>

<%= form_tag language_path do %>
  <%= text_field_tag :username, params[:username], title: "Enter the Github username here", data: { tooltip: true }, placeholder: "Github username" %>
  <%= submit_tag 'Go!' %>
<% end %>
